<%- include('./partials/pre-header') %>
    <h3>To Get Started,</h3>
    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
    <%- include('./partials/footer') %>

